/* You can add global styles to this file, and also import other style files */
// @import "./scss/tableofcontent";
@import "./scss/variables";
// @import "./scss/mixins";
@import "./scss/typography";
@import "./scss/components/spacing";
// @import "./scss/components/header";
// @import "./scss/components/mobile-header";
// @import "./scss/pages";
// @import "./scss/components/footer";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin-bottom: 0;
}

.active {
  color: $theme-color !important;
}

.sticky {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 9;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.author {
  font-size: 14px !important;
  font-weight: 800 !important;
  line-height: 1 !important;
  text-transform: capitalize !important;

  a {
    color: $black-soft;
    cursor: pointer;
  }

  a:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.card {
  border: none;
  border-radius: 0;
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
}

.card-small {
  padding: 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.profile-thumb {
  display: inline-block;
  position: relative;
}

.profile-thumb.active:before {
  bottom: 2px;
  right: -2px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: #09ae82;
}

.profile-thumb.active {
  overflow: visible;
}

.posted-author {
  margin-left: 20px;

  .frnd-search-inner ul li .posted-author p {
    color: #666666;
    font-size: 13px;
    padding-top: 5px;
  }
}

.author {
  margin: 0 !important;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  text-transform: capitalize;
}

.profile-thumb-middle {
  width: 45px;
  height: 45px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.profile-thumb-small {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.profile-thumb-2 {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  bottom: -40px;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}

.slick-prev,
.slick-next {
  height: 35px !important;
  width: 35px !important;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 2px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms 0ms cubic-bezier(0, 0, 0.2, 1);
}

.slick-prev {
  left: -55px !important;
}

.slick-next {
  right: -55px !important;
}

.slick-prev::before,
.slick-next::before {
  position: absolute;
  font-size: 40px !important;
  color: #e5e5e5 !important;
  top: 0;
  right: -2px;
}

.custom-list {
  height: 100%;
}

.custom-track {
  height: 100%;
}

.custom-scroll {
  overflow-y: auto;
}

// .btn-viewer {
//   display: none!important;
// }

.post-settings-bar {
  margin-left: auto;
  position: relative;
  cursor: pointer;

  span {
    width: 20px;
    height: 1px;
    display: block;
    background-color: #ccc;
    margin-bottom: 4px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
}

.post-settings-bar:hover .post-settings {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

.post-settings {
  right: 0;
  top: 100%;
  width: 200px;
  background-color: #fff;
  position: absolute;
  padding: 20px;
  z-index: 9;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);

  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;

    button {
      color: #333333;
      display: block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    button:last-child {
      margin-bottom: 0;
    }

    button:hover {
      color: #dc4734;
    }
  }
}

.arrow-shape:before {
  right: 10px;
  bottom: 100%;
  content: "";
  position: absolute;
  height: 20px;
  border-bottom: 20px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.arrow-shape:after {
  right: 0px;
  bottom: 100%;
  content: "";
  position: absolute;
  height: 40px;
  width: 80px;
  background-color: transparent;
}

.btn-option {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aaa8a8;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1aeae;
}

.snackbar-container {
  margin-top: 64px!important;

  .mdc-snackbar__surface {
    background-color: #fff!important;
    padding: 0!important;

    .mdc-snackbar__label {
      padding: 0;
    }
  }
}
