<app-profile-banner></app-profile-banner>

<!-- Menu second -->
<app-second-menu></app-second-menu>

<div class="friends-section mt-20">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-box friends-zone" style="margin-bottom: 120px;">
          <div class="row mt--20 friends-list">
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
            <div class="col-lg-3 col-sm-6 recently request">
              <app-friend-card></app-friend-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
