<app-profile-banner></app-profile-banner>

<!-- Menu second -->
<app-second-menu></app-second-menu>

<div class="photo-section mt-20">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content-box" style="margin-bottom: 120px;">
          <div class="content-body">
            <div class="row mt--30 photo-filter">
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
              <div class="col-sm-6 col-md-4 timeline upload folder">
                <app-album-card></app-album-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
